<!-- Footer -->
<footer class="pt-4 mt-2 pt-md-5 border-top footer">
  <div class="container footer-container">
    <div class="row d-flex justify-content-around">
      <div class="col-lg-4 mb-3 footer-about-section">
        <h5 class="footer-text-title mb-2">About</h5>
        <p class="footer-about-text">My Journey started due to the unfortunate passing of my beloved Gran on 10th of November 2015. Although expected due illness and age, nothing prepared me for the loss of someone so special who helped in raising and watched me grow, deeply impacting on the person I am today.</p>
      </div>
      <div class="col-12 col-lg-2 mb-3 footer-services-section">
        <h5 class="footer-text-title mb-2">Services</h5>
        <ul class="list-unstyled text-small">
          <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Arrangements</a></li>
          <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Event Hire</a></li>
          <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Tutorials</a></li>
          <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Designs</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 mb-3 footer-contact-section">
        <h5 class="footer-text-title mb-2">Contacts</h5>
        <ul class="list-unstyled text-small">
          <div class="row">
            <div class="col-12 col-md-6">
              <li class="footer-link">
                <span class="footer-link-icon"><i class="fas fa-phone-alt"></i></span>
                <p class="footer-link-title">Phone:<br><small><a class="footer-link-text" href="#">+44 (0)75 0109 3105</a></small></p>
              </li>
            </div>
            <div class="col-12 col-md-6">
              <li class="footer-link">
                <span class="footer-link-icon"><i class="fas fa-envelope"></i></span>
                <p class="footer-link-title">E-mail: <br><small><a class="footer-link-text" href="#">enquiry@milestonefloristry.com</a></small></p>
              </li>
            </div>
            <div class="col-12 col-md-6">
              <li class="footer-link">
                <span class="footer-link-icon"><i class="fab fa-instagram-square"></i></span>
                <p class="footer-link-title">Instagramm:<br><small><a class="footer-link-text" href="#">#milestonefloristry</a></small></p>
              </li>
            </div>
            <div class="col-12 col-md-6">
              <li class="footer-link">
                <span class="footer-link-icon"><i class="fab fa-facebook-square"></i></span>
                <p class="footer-link-title">Facebook:<br><small><a class="footer-link-text" href="#">facebook.com/milestonefloristry</a></small></p>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid copy-right-container border-top">
    <div class="row">
      <div class="col-12 text-center copy-right-section py-2">
        <p class="copy-right-text"><small class=" text-muted">&copy; 2020 <Span class="brand-text">Milestone Floristry.</Span> All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</footer>