<div class="collapse navbar-collapse d-inline-flex flex-wrap" id="main-nav">
  <ul class="navbar-nav d-flex flex-row w-auto mx-auto text-nowrap">
    <li class="nav-item">
      <a class="nav-link pr-2" href="{% url 'products' %}">All Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pr-2" href="#">Hand-Tied Bouquets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pr-2" href="#">Florist Choice
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pr-2" href="#">Luxury Bouquets
      </a>
    </li>
  </ul>
</div>