{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/4516028c7e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Milestone Floristry {% block extra_title %}{% endblock %}</title>
</head>

<body class="bg-light">
  <header class="container-fluid position-relative">
    <nav class="navbar navbar-dark bg-dark fixed-top border-bottom bg-pink px-0">
      <div class="col-7 col-lg-3 my-auto py-1 py-lg-0">
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'home' %}" class="navbar-brand nav-link main-logo-link">
          <img src="/media/monogram-only.png" alt="Logo" style="width:60px;">
        </a>
      </div>
      <div class="col-5 my-auto py-1 py-lg-0 d-lg-none d-xl-none d-flex">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-rose-gold{% endif %} nav-link ml-auto" href="#">
          <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
              {% if grand_total %}
              ${{ grand_total|floatformat:2 }}
              {% else %}
              $0.00
              {% endif %}
            </p>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-5 my-auto py-1 py-lg-0">
        <form method="GET" action="">
          <div class="input-group w-100 d-flex">
            <input class="form-control border border-rose-gold rounded-left" type="text" name="q" placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control btn btn-rose-gold border border-rose-gold rounded-right" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-rose-gold nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="#" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="#" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-rose-gold{% endif %} nav-link" href="#">
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar-collapse collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto d-flex flex-row ml-2">
          <li class="nav-item d-inline-flex d-sm-block d-lg-none p-2">
            <a href="/accounts/signup/" class="nav-link">Register</a>
          </li>
          <li class="nav-item d-inline-flex d-sm-block d-lg-none border-right p-2">
            <a href="/accounts/login/" class="nav-link">Login</a>
          </li>
          <li class="nav-item d-inline-flex p-2 active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item d-inline-flex p-2">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item d-inline-flex p-2">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </header>

  {% if messages %}
  <div class="messages-container"></div>
  {% endif %}


  {% block page_header %}
  {% endblock %}


  {% block content %}
  {% endblock %}


  {% block postloadjs %}
  {% endblock %}

  <footer class="pt-4 mt-2 pt-md-5 border-top footer">
    <div class="container footer-container">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-4 mb-3 footer-about-section">
          <h5 class="footer-text-title mb-2">About</h5>
          <p class="footer-about-text">My Journey started due to the unfortunate passing of my beloved Gran on 10th of November 2015. Although expected due illness and age, nothing prepared me for the loss of someone so special who helped in raising and watched me grow, deeply impacting on the person I am today.</p>
        </div>
        <div class="col-12 col-lg-2 mb-3 footer-services-section">
          <h5 class="footer-text-title mb-2">Services</h5>
          <ul class="list-unstyled text-small">
            <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Arrangements</a></li>
            <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Event Hire</a></li>
            <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Tutorials</a></li>
            <li><span class="footer-link-icon"><i class="fas fa-long-arrow-alt-right mr-2"></i></span><a class="text-muted" href="#">Designs</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-4 mb-3 footer-contact-section">
          <h5 class="footer-text-title mb-2">Contacts</h5>
          <ul class="list-unstyled text-small">
            <div class="row">
              <div class="col-12 col-md-6">
                <li class="footer-link">
                  <span class="footer-link-icon"><i class="fas fa-phone-alt"></i></span>
                  <p class="footer-link-title">Phone:<br><small><a class="footer-link-text" href="#">+44 (0)75 0109 3105</a></small></p>
                </li>
              </div>
              <div class="col-12 col-md-6">
                <li class="footer-link">
                  <span class="footer-link-icon"><i class="fas fa-envelope"></i></span>
                  <p class="footer-link-title">E-mail: <br><small><a class="footer-link-text" href="#">enquiry@milestonefloristry.com</a></small></p>
                </li>
              </div>
              <div class="col-12 col-md-6">
                <li class="footer-link">
                  <span class="footer-link-icon"><i class="fab fa-instagram-square"></i></span>
                  <p class="footer-link-title">Instagramm:<br><small><a class="footer-link-text" href="#">#milestonefloristry</a></small></p>
                </li>
              </div>
              <div class="col-12 col-md-6">
                <li class="footer-link">
                  <span class="footer-link-icon"><i class="fab fa-facebook-square"></i></span>
                  <p class="footer-link-title">Facebook:<br><small><a class="footer-link-text" href="#">facebook.com/milestonefloristry</a></small></p>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid copy-right-container border-top">
      <div class="row">
        <div class="col-12 text-center copy-right-section py-2">
          <p class="copy-right-text"><small class=" text-muted">&copy; 2020 <Span class="brand-text">Milestone Floristry.</Span> All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>